@font-face {
    font-family: 'FontPerfectBomber';
    src: url('/Fuente/Perfect\ Bomber\ Free\ Personal\ Use.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "FontPerfectBomber";
}

#footerDiv {
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27);

    height: 50px;
}

.outstandingArt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.outstandingArt figure {
    margin: 0;
    text-align: center;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

.outstandingArt img {
    width: 100%;
    height: 20rem;
    display: block;
    margin-bottom: 8px;
    border-radius: 5px;
}

.outstandingArt figcaption {
    font-size: 14px;
    color: #555;
}

.iconoNavBar {
    height: 55px;
    width: 100px;
}

.navBarMod {
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}